
   
.nav-wrapper {
    background-color: rgba(117, 55, 98, 0.692);
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: url(./img/fondoH.jpg);
    font-family: 'Niramit', sans-serif;
    width: 100%;
    height: 100%;
}

.grid-item-img {
    background-color: rgba(175, 32, 127, 0.171);
    border: 1px solid rgba(19, 18, 18, 0.158);
    background-color: rgb(209, 200, 226);
    padding: 10px;
    font-size: 10px;
    height: 400px;
    width: 350px;
}
.img{
    background-image: url(./img/IMG_6238.JPG);
    min-height: 380px;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}
.grid-item-text {
    background-color: rgba(167, 157, 157, 0.712);
    border: 10px solid rgba(0, 0, 0, 0.158);
    padding: 20px;
    text-align: center;
}


.skills-container {
    text-align: center;
    font-family: 'Niramit', sans-serif;
    background-image: url(./img/fondo10.jpg);
    background-size: cover;
    padding: 10px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.icon-tec {
     font-size: 55px;
    color: rgb(19, 18, 18);
    position: center;
    padding: 10px;
}
.Proyect{
    text-align: center;
    font-family: 'Niramit', sans-serif;
}

.grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgba(56, 27, 46, 0.692);
    font-family: 'Niramit', sans-serif;
    width: 100%;
    height: 100%;
    padding: 10px;
}

footer{
    background-color:rgba(122, 14, 88, 0.849);
}
